
header{
    background-image: url(../img/pattern.png);
    background-color: steelblue;
    background-size: contain;
}

.logo{
    width: 10%;
    height: 10%;
}
.writer {
    color: silver;
    font-size: small;

}
.evidence-text{
    background-color: orange;
}

.description-foto {
    color: silver;
}

thead{
    background-color: lightblue;
}

tr:nth-child(even) {
  background-color: #D6EEEE;
}

.interest{
    color: silver;
}

.img-footer{
    display: block;
}
