
header{
    background-image: url(../img/pattern.png);
    background-color: steelblue;
    background-size: contain;
}

.logo{
    width: 10%;
    height: 10%;
}
.writer {
    color: silver;
    font-size: small;

}

.description-foto {
    color: silver;
}